.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.clock-box {
  position: relative;
  background: #f8f8f8;
  border: 2px solid #969696;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset;
  width: 300px;
  height: 300px;
  padding: 15px;
  border-radius: 50%;
}

.hours--hand {
  width: 2px;
  height: 69px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: translate(-50%, 0) rotate(0);
  z-index: 1;
  background-color: #969696;
}

.minutes--hand {
  width: 2px;
  height: 138px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: translate(-50%, 0) rotate(0);
  z-index: 1;
  background-color: #969696;
}

.seconds--hand {
  width: 2px;
  height: 135px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  transform: translate(-50%, 0) rotate(0);
  background: #f58c8c;
}

.clock--point {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: 47.5%;
  left: 47.5%;
  background-color: #fff;
  border: 2px solid #969696;
  z-index: 1;
}

.digital--clock-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  margin-top: 15px;
  padding: 10px;
  color: #969696;
  font-size: 28px;
  border-radius: 15px;
  border: 2px solid #969696;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset;
}

.digital--clock-box span:nth-of-type(3),
.digital--clock-box span:nth-of-type(5) {
  animation: blink 1s linear infinite;
  line-height: 1.5;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
