.quotes-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 15px;
  width: 90%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: 700;
  color: #969696;
}

.quotes-box > i,
.quotes-box > span {
  padding: 10px;
  background-color: #f8f8f8;
  border: 2px solid #969696;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset;
}

.quotes-box > i {
  border-radius: 50%;
  cursor: pointer;
}

.quotes-box > i:hover {
  color: #000;
}
