.todo-box {
  order: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #969696;
  width: 380px;
  padding: 30px;
  gap: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.todo-title {
  display: flex;
  flex-direction: column;
  font-size: 32px;
}

.todo-title > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-title span:nth-of-type(1) {
  margin-bottom: 5px;
}

.todoList__btn--reset {
  font-size: 24px;
  cursor: pointer;
}

.todoList__btn--reset:hover {
  color: red;
}

.todo-form form {
  display: flex;
  position: relative;
  color: inherit;
  padding: 10px 0;
}

.todo-form input {
  width: 100%;
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.todo-form button {
  position: absolute;
  right: 0;
  top: 40%;
}

.todo-form button:hover {
  color: #464646;
}

.todo-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-weight: 700;
}

.todo-list__item--content,
.todo-list__item__btn {
  cursor: pointer;
}

.todo-list__item__btn {
  display: none;
}

.todo-list__item:hover .todo-list__item__btn {
  display: inline;
}

.todo-list__item__btn:hover {
  color: tomato;
}

.todo-list__item--content.done {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.5;
}
