@import "./reset.css";

/* Components */
@import "./components/Calendar.css";
@import "./components/Scheduler.css";
@import "./components/TodoList.css";
@import "./components/Clock.css";
@import "./components/Pomodoro.css";
@import "./components/Time.css";
@import "./components/Login.css";
@import "./components/Topbar.css";
@import "./components/Quotes.css";
@import "./components/Wether.css";

/* Pages */
@import "./pages/Home.css";
@import "./pages/Schedule.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  vertical-align: center;
  padding: 10px 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 100px;
  height: 30%;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
}

nav > ul > li {
  text-align: center;
  cursor: pointer;
  color: #aaaaaa;
}

nav > ul > li:hover {
  color: #464646;
}

#app {
  margin: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid #969696;
  border-radius: 10px;
}
